html, body, #root {
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 486px;
  height: 485px;
  padding: 12px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h1 {
  height: 231px;
  margin: 0;
  font-family: Poppins;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #25282B;
}

h2 {
  height: 108px;
  margin: 0;
  font-family: Nunito;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #828282;
}

.pexels-image {
  width: 720px;
  height: 629px;
  transform: rotate(0deg);
  opacity: 1;
}